body {
    font-family: Arial, sans-serif;
    background-color: #12141c;
    color: white;
    margin: 0;
    padding-top: 90px; /* Espace pour éviter de chevaucher la navbar fixe */
}

header {
    background-color: rgba(51, 51, 51, 0.5); /* Couleur de fond avec opacité */
    backdrop-filter: blur(10px); /* Effet de flou */
    border-radius: 10px; /* Coins arrondis */
    padding: 1.5em; /* Agrandir légèrement la navbar */
    text-align: center;
    margin: 0.5em; /* Marges pour éviter de toucher les bords de l'écran */
    position: fixed; /* Fixer la navbar en haut */
    top: 0; /* Aligner en haut */
    left: 0;
    right: 0;
    z-index: 1000; /* Assurez-vous que la navbar est au-dessus des autres éléments */
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Permettre le wrap pour les petits écrans */
}

nav ul li {
    margin: 0 10px;
}

nav ul li.logo {
    flex-grow: 1;
}

nav ul li.logo img {
    max-height: 50px; /* Redimensionner le logo */
}

nav ul li.right {
    display: flex;
    flex-direction: row; /* Aligner les éléments horizontalement par défaut */
    align-items: center;
    margin-left: auto;
    padding-right: 20px; /* Ajouter du padding à droite */
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.2em; /* Taille du texte ajustée pour correspondre au logo */
}

nav ul li a img.icon {
    width: 24px;
    height: 24px;
    margin-right: 15px; /* Espacement entre l'icône et le texte */
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%); /* Appliquer une couleur blanche à l'icône */
}

nav ul li.right a {
    margin-left: 40px; /* Espacement entre les éléments de droite augmenté */
}

/* Styles responsives */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Disposer les éléments en colonne sur petits écrans */
        align-items: center; /* Centrer les éléments */
    }

    nav ul li.logo {
        align-self: center; /* Centrer le logo */
    }

    nav ul li.right {
        flex-direction: row; /* Aligner les éléments en colonne */
        align-items: center; /* Centrer les éléments */
        padding-right: 0; /* Enlever le padding à droite */
        width: 100%; /* Prendre toute la largeur */
    }

    nav ul li.right a {
        margin-left: 0; /* Enlever l'espacement entre les éléments de droite */
        margin-bottom: 10px; /* Ajouter un espacement en bas pour séparer les éléments */
        width: 100%; /* Prendre toute la largeur */
        text-align: center; /* Centrer le texte */
        margin-top: 20px; /* Ajouter de l'espace au-dessus des boutons */
    }

    header {
        padding: 1em; /* Réduire le padding pour les petits écrans */
    }
}
