body {
    font-family: 'Roboto', sans-serif;
    background-color: #12141c;
    color: white;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #12141c;
    z-index: 9999;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-loader {
    width: 200px;
    animation: heartbeat 1.5s infinite;
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.2);
    }
}

.content {
    display: none; /* Masquer le contenu par défaut */
}
